@font-face {
    font-family: "titulo";
    src: url(fonts/Hello\ Valentina.ttf) format("truetype");
}

@font-face {
    font-family: "navegacao";
    src: url(fonts/Hey\ Comic.otf) format("opentype");
}

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor_cabecalho: rgb(255, 142, 36);
    --cor_cabecalho2:rgb(182, 123, 68);
    --cor_nav: rgb(161, 111, 63);
}

body {
    background-image: url(images/imagemDeFundo.png);
}

header {
    height: 4.5em;
    background-image: linear-gradient(to bottom,var(--cor_cabecalho),var(--cor_cabecalho2));
}

header h1 {
    color: rgb(0, 0, 0);
    font-size: 3.5em;
    font-family: titulo,Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    text-align: center;
}

nav {
    height: 2.5em;
    background-color: var(--cor_nav);
}

nav a {
    font-family: navegacao,Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: 2px 3px 1px black;
    padding-left: 30px;
    color: white;
}

main {
    background-color: white;
    margin: 20px 30px 30px 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

main h1 {
    font-family: navegacao,Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}

main h1::before {
    content: "🛒";
}

main h1::after {
    content: "🛒";
}

main p.conteudo01 {
    text-align: center;
    font-family: navegacao,Arial, Helvetica, sans-serif;
}

main div {
    display: inline-block;
}
/* Produto 01 */

main div.produto01 p#subconteudo {
    margin-left: 20px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
}

main div.produto01 p#preco {
    margin-left: 50px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    font-size: 30px;
}

main div.produto01 button {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 1.4em;
    background-color: var(--cor_cabecalho2);
    border-radius: 10px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

main div.produto01 button:hover {
    background-color: var(--cor_cabecalho);
}

/* Produto 02 */

main div.produto02 {
    margin-left: 240px;
}
main div.produto02 p#subconteudo {
    margin-left: 20px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
}

main div.produto02 p#preco {
    margin-left: 50px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    font-size: 30px;
}

main div.produto02 button {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 1.4em;
    background-color: var(--cor_cabecalho2);
    border-radius: 10px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

main div.produto02 button:hover {
    background-color: var(--cor_cabecalho);
}

/* Produto 03 */

main div.produto03 {
    margin-left: 240px;
}
main div.produto03 p#subconteudo {
    margin-left: 20px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
}

main div.produto03 p#preco {
    margin-left: 50px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    font-size: 30px;
}

main div.produto03 button {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 1.4em;
    background-color: var(--cor_cabecalho2);
    border-radius: 10px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

main div.produto03 button:hover {
    background-color: var(--cor_cabecalho);
}

/* Produto04*/

main div.produto04 p#subconteudo {
    margin-left: 20px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
}

main div.produto04 p#subconteudo br#espaco{
    margin-left: 40px;
}

main div.produto04 p#preco {
    margin-left: 50px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    font-size: 30px;
}

main div.produto04 button {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 1.4em;
    background-color: var(--cor_cabecalho2);
    border-radius: 10px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

main div.produto04 button:hover {
    background-color: var(--cor_cabecalho);
}

/* Produto05*/

main div.produto05 {
    margin-left: 240px;
}
main div.produto05 p#subconteudo {
    margin-left: 20px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
}

main div.produto05 p#preco {
    margin-left: 50px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    font-size: 30px;
}

main div.produto05 button {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 1.4em;
    background-color: var(--cor_cabecalho2);
    border-radius: 10px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

main div.produto05 button:hover {
    background-color: var(--cor_cabecalho);
}

/* Produto06*/

main div.produto06 {
    margin-left: 240px;
}
main div.produto06 p#subconteudo {
    margin-left: 20px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
}

main div.produto06 p#preco {
    margin-left: 50px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    font-size: 30px;
}

main div.produto06 button {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 20px;
    font-size: 1.4em;
    background-color: var(--cor_cabecalho2);
    border-radius: 10px;
    font-family: navegacao,Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

main div.produto06 button:hover {
    background-color: var(--cor_cabecalho);
}